* {
	margin: 0;
	padding: 0;
}

/*フォント*/
@font-face {
 font-family: 'JapanSans80';
 src: url('http://webfontfan.com/fontcss/font/JapanSans80.eot');
 src: url('http://webfontfan.com/fontcss/font/JapanSans80.eot?#iefix') format('embedded-opentype'),
 url('http://webfontfan.com/fontcss/font/JapanSans80.woff') format('woff'),
 url('http://webfontfan.com/fontcss/font/JapanSans80.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
 }
body{font-family:'JapanSans80','ヒラギノ角ゴ Pro W3','Hiragino Kaku  Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;}

/*menu*/
#menu{
  position: fixed;
  z-index: 9999;
}
#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}
#colors2,
	#colors3{
		position: absolute;
		height: 163px;
		width: 362px;
		z-index: 1;
		background-repeat: no-repeat;
		left: 0;
		margin: 0 auto;
		right: 0;
	}
	#colors2{
		background-image: url(../imgs/colors2.gif);
		top:0;
	}
	#colors3{
		background-image: url(../imgs/colors3.gif);
		bottom:0;
	}
/*フォント*/


/*section dammy*/
#section1{background:url(img/main_1.jpg)  center center / cover no-repeat fixed;
text-align: center;}
#section1 h1{
	color: #666;
	font:4em bold "Arial Black", Gadget, sans-serif;
	text-shadow: 1px 1px 1px #000;
	
}
#section1 p{
	color: #444;

}
#section1 img{
	margin: auto auto;
	
}

#section2{background:url(img/main_2.jpg)  center center / cover no-repeat fixed;
}

	
	#section2 h2{
	padding-bottom: .5em;
	border-bottom: 1px solid #ea545d;
	color:#ea545d;
	clear:both;
	
}
#section2 h2:first-letter {
	margin-right: .1em;
	font-size: 1.5em;
}
#section2 p{
	font:1em normal;
line-height:2;
}
.skill ul{
	width:80%;
	overflow:auto;
	margin-right:-10px;}
	.skill li{background:#ea545d;
	padding:10px;
margin:10px;
font:1em normal;
color:#fff;
float:left;
list-style:none;}
#section2 h3{
	font-size:4em;
	padding-bottom: .5em;
	color:#ea545d;
	text-align:center;
}


#section3{background:url(img/main_3.jpg)  center center / cover no-repeat fixed;}
#section3 h2{
	padding-bottom: .5em;
	border-bottom: 1px solid #333;
	color:#333;
	clear:both;
	margin:50px auto;
}
#section3 h2:first-letter {
	margin-right: .1em;
	font-size: 1.5em;
}
#section3 p{
	font:1em normal;
line-height:2;
}
#section3 a:link{
	font:1em normal;
line-height:2;
text-decoration:none;
color:#cc0000;
}
#section3 a:hover{
	font:1em normal;
line-height:2;
text-decoration:none;
color:#cc0000;
}
#section3 a:visited{
	font:1em normal;
line-height:2;
text-decoration:none;
color:#cc0000;
}

#section3 h3{font:1.5em normal;
line-height:2;}
.sakuhin{
	width:50%;
	font:1em normal;
line-height:2;
margin-bottom:50px;
float:left;}
.sakuhin img{
	float:left;
	margin-right:20px;}
	.sakuhin:after{clear:both;}


#section4{background:url(img/main_4.jpg)  center center / cover no-repeat fixed;
}
#section4 h2{
	padding-bottom: .5em;
	border-bottom: 1px solid #000;
	color:#000;
	clear:both;
	margin:50px auto;
}
#section4 h2:first-letter {
	margin-right: .1em;
	font-size: 1.5em;
}
#section4 p{
	color: #444;

}

/*白背景*/
.back{background-color: rgba(255,255,255,0.8);  
margin:50px 20px;
padding:20px;
overflow:hidden;
}
.back2{background-color: rgba(255,255,255,0.8);  
margin:50px 20px;
padding:20px;
overflow:hidden;
height:90%;
}

/*タイムライン*/

.anime {
        position: absolute;
        margin: auto;
        width: 100%;
        top:50%;
        margin-top:0%;
        opacity:0;
        color:#ea545d;
        font-size:34px;
        line-height:160%;
        letter-spacing:0.1em;
        
    }
    .anime span{
        letter-spacing:0em;
    }
    .btn a{
        font-size:12px;
        display:block;
        color:#FFF;
        position: fixed;
        right:10px;
        bottom:10px;
        padding:5px 25px;
        background-color:#999;
        font-weight:bold;
        text-decoration:none;
        font-family: Century Gothic,Arial,sans-serif;    
    }
    #replayBtn {
        display:none;
    }    
    #item01{
        top:35%;    
    }
	 #item04{
        top:25%;    
    }
    #item06{
        top:40%;    
    }
    #item03,
    #item05,
    #last{
        top:45%;    
    }
    
    #last{
        margin-top: 60px;    
    }
    
    @media screen and (max-width : 480px){
    img{
        max-width: 100%;
        height: auto;
        width /***/:auto;
    }
    .anime{
        font-size:24px;
        width: 96%;
        padding:0 2%;
    }
    .anime img{
        width:45%;
    }
    #item08{
        font-size:9px;
    }
    #item10{
        font-size:12px;
    }
    #last{
        margin-top: 45px;    
    }
    }
    
    @media screen and (max-width : 320px){
    .anime{
        font-size:20px;
    }
    .anime img{
        width:40%;
    }
    #item08{
        top:30%;
        letter-spacing:-0.1em;
    }
    #item10{
        top:25%;
        letter-spacing:0em;
    }
    #last{
        margin-top: 35px;    
    }    
    }