body{
  color: #fff;
  font-size: 16px;
  line-height: 1.8;
  font-family: 'Open Sans', sans-serif;
  background: #A1C8D7;
}

.l-header{
  height: 60px;
  background: #333;
}

.l-section{
  box-sizing: border-box;
  padding: 80px 60px;
  position: relative;
  min-height: 320px;
}

.heading{
  text-align: center;
  font-size: 34px;
  letter-spacing: 0.2em;
  color: #fff;
  margin-bottom: 60px;
}

.heading-top{
  text-align: center;
  font-size: 48px;
  letter-spacing: 0.4em;
  color: #fff;
  font-weight: light;
}


.logo{
  float: left;
  color: #fff;
  letter-spacing: 0.4em;
  font-weight: bold;
  line-height: 60px;
  width: 200px;
  text-align: center;
  border-right: 1px solid #444;
  line-height: 1.8;
}

.frame .top{
  display: block;
  position: fixed;
  height: 8px;
  width: 100%;
  top: 0;
  z-index: 2;
  background: #fff;
}

.frame .left{
  display: block;
  position: fixed;
  width: 8px;
  height: 100%;
  left: 0;
  z-index: 2;
  background: #fff;
}

.frame .right{
  display: block;
  position: fixed;
  width: 8px;
  height: 100%;
  right: 0;
  z-index: 2;
  background: #fff;
}


.frame .bottom{
  display: block;
  position: fixed;
  height: 8px;
  width: 100%;
  bottom: 0;
  z-index: 2;
  background: #fff;
}

.subtitle{
  text-align: center;
  letter-spacing: 0.4em;
}

.l-container-center{
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.l-container{
  max-width: 600px;
  margin: auto;
}
.form {

}
.form input{
  display: block;
  min-width: 100%;
  padding: 20px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  margin-bottom: 20px;
  box-sizing: border-box;
  color: #666;
  letter-spacing: 0.2em;
}

.form textarea{
  display: block;
  min-width: 100%;
  padding: 20px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  margin-bottom: 20px;
  min-height: 280px;
  box-sizing: border-box;
  color: #666;
}

.form-button{
  display: block;
  width: 100%;
  padding: 18px;
  box-sizing: border-box;
  background: #F16B6C;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.5em;
}

.image{
  text-align: center;
  margin-bottom: 40px;
}

.dammy{
  background: #ccc;
  display: table;
  width: 100%;
  height: 300px;
  color: #fff;
  margin-bottom: 60px;
}


.dammy span{
  display: table-cell;
  vertical-align: middle;
  font-size: 42px;
  letter-spacing: .2em;
  text-align: center;
}

.l-container p{
  margin-bottom: 20px;
}

.arrow{
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-top: 16px solid #F16B6C;
  border-left: 20px solid transparent;
  border-bottom: none;
  border-right: 20px solid transparent;
}
